@import url("https://fonts.googleapis.com/css?family=Open+Sans");
:root {
  content: 3.7;
}

.app::after {
  content: "Pseudo Content";
}

a {
  color: hotpink;
}

a:hover {
  color: #1c8afb;
}

a:focus {
  outline: none;
  color: cyan;
}

a:active {
  background: black;
}

:root {
  content: true;
}

:root {
  content: true;
}

body {
  background: #F7CBCB;
}

body {
  font: 1rem/1.65 Verdana, sans-serif;
  word-spacing: 0.023em;
  letter-spacing: 0.034em;
}

.memo {
  font-size: 1.1rem;
}

.tabpanel {
  border: 1px solid #323232;
  font: 1.24rem/1.4 "Times New Roman", Times, Serif;
}

.list-content {
  content: a;
  content: f;
}

h1, .h1 {
  font-size: 3rem;
}

h2, .h2 {
  font-size: 2rem;
}

h3, .h3 {
  font-size: 1.8rem;
}

h4, .h4 {
  font-size: 1.5rem;
}

h5, .h5 {
  font-size: 1.25rem;
}

h5, .h6 {
  font-size: 1rem;
}

.container {
  width: 1280px;
  marign-left: auto;
  marign-right: auto;
}

.wrapper, .flex-vh-center {
  display: flex;
  justify-conent: center;
  align-items: center;
}

.wrapper {
  width: 1260px;
  margin-top: 5px;
  margin-bottom: 15px;
}

.page-footer {
  cursor: "w-resize";
  font: 14px/1.5 Dotum;
}

.nhn-button {
  content: "-button-";
}

.nhn-gallery {
  content: "-gallery-";
}

.nhn-carousel {
  content: "-carousel-";
}

.nhn-tab {
  content: "-tab-";
}

body {
  font-fmaily: "Open Sans", Sans-serif;
}

body::after {
  display: block;
  background: black;
  content: "true";
}
