/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$-apple-name: 'Apple';
$-apple-x: 0px;
$-apple-y: 0px;
$-apple-offset-x: 0px;
$-apple-offset-y: 0px;
$-apple-width: 50px;
$-apple-height: 50px;
$-apple-total-width: 150px;
$-apple-total-height: 150px;
$-apple-image: '../images/sprites/sprite.png';
$-apple: (0px, 0px, 0px, 0px, 50px, 50px, 150px, 150px, '../images/sprites/sprite.png', 'Apple', );
$-asparagus-name: 'Asparagus';
$-asparagus-x: 50px;
$-asparagus-y: 0px;
$-asparagus-offset-x: -50px;
$-asparagus-offset-y: 0px;
$-asparagus-width: 50px;
$-asparagus-height: 50px;
$-asparagus-total-width: 150px;
$-asparagus-total-height: 150px;
$-asparagus-image: '../images/sprites/sprite.png';
$-asparagus: (50px, 0px, -50px, 0px, 50px, 50px, 150px, 150px, '../images/sprites/sprite.png', 'Asparagus', );
$-avocado-name: 'Avocado';
$-avocado-x: 0px;
$-avocado-y: 50px;
$-avocado-offset-x: 0px;
$-avocado-offset-y: -50px;
$-avocado-width: 50px;
$-avocado-height: 50px;
$-avocado-total-width: 150px;
$-avocado-total-height: 150px;
$-avocado-image: '../images/sprites/sprite.png';
$-avocado: (0px, 50px, 0px, -50px, 50px, 50px, 150px, 150px, '../images/sprites/sprite.png', 'Avocado', );
$-baby-bottle-name: 'Baby-Bottle';
$-baby-bottle-x: 50px;
$-baby-bottle-y: 50px;
$-baby-bottle-offset-x: -50px;
$-baby-bottle-offset-y: -50px;
$-baby-bottle-width: 50px;
$-baby-bottle-height: 50px;
$-baby-bottle-total-width: 150px;
$-baby-bottle-total-height: 150px;
$-baby-bottle-image: '../images/sprites/sprite.png';
$-baby-bottle: (50px, 50px, -50px, -50px, 50px, 50px, 150px, 150px, '../images/sprites/sprite.png', 'Baby-Bottle', );
$-bacon-name: 'Bacon';
$-bacon-x: 100px;
$-bacon-y: 0px;
$-bacon-offset-x: -100px;
$-bacon-offset-y: 0px;
$-bacon-width: 50px;
$-bacon-height: 50px;
$-bacon-total-width: 150px;
$-bacon-total-height: 150px;
$-bacon-image: '../images/sprites/sprite.png';
$-bacon: (100px, 0px, -100px, 0px, 50px, 50px, 150px, 150px, '../images/sprites/sprite.png', 'Bacon', );
$-banana-split-name: 'Banana-Split';
$-banana-split-x: 100px;
$-banana-split-y: 50px;
$-banana-split-offset-x: -100px;
$-banana-split-offset-y: -50px;
$-banana-split-width: 50px;
$-banana-split-height: 50px;
$-banana-split-total-width: 150px;
$-banana-split-total-height: 150px;
$-banana-split-image: '../images/sprites/sprite.png';
$-banana-split: (100px, 50px, -100px, -50px, 50px, 50px, 150px, 150px, '../images/sprites/sprite.png', 'Banana-Split', );
$-coffee-pot-name: 'Coffee-Pot';
$-coffee-pot-x: 0px;
$-coffee-pot-y: 100px;
$-coffee-pot-offset-x: 0px;
$-coffee-pot-offset-y: -100px;
$-coffee-pot-width: 50px;
$-coffee-pot-height: 50px;
$-coffee-pot-total-width: 150px;
$-coffee-pot-total-height: 150px;
$-coffee-pot-image: '../images/sprites/sprite.png';
$-coffee-pot: (0px, 100px, 0px, -100px, 50px, 50px, 150px, 150px, '../images/sprites/sprite.png', 'Coffee-Pot', );
$spritesheet-width: 150px;
$spritesheet-height: 150px;
$spritesheet-image: '../images/sprites/sprite.png';
$spritesheet-sprites: ($-apple, $-asparagus, $-avocado, $-baby-bottle, $-bacon, $-banana-split, $-coffee-pot, );
$spritesheet: (150px, 150px, '../images/sprites/sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
